// =============================================
// Transitions
// =============================================
@mixin tranisiton($one, $two) {
    -webkit-transition: $one, $two;
    -ms-transition: $one, $two;
    -moz-transition: $one, $two;
    transition: $one, $two;
    }
@mixin multiple-transition($one, $two) {
    -webkit-transition: $one, $two;
    -ms-transition: $one, $two;
    -moz-transition: $one, $two;
    transition: $one, $two;
    }

@mixin translate($x, $y) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    -o-transform: translate($x, $y);
    transform: translate($x, $y);
    }

// =============================================
// Block Order
// =============================================
@mixin block-order-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    }

@mixin block-order($order: 1) {
    -webkit-box-ordinal-group: $order;
    -moz-box-ordinal-group: $order;
    -ms-flex-order: $order;
    -webkit-order: $order;
    order: $order;
    }